/* Base Element Styles
   ------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Overpass', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25;
  color: #d8d8d8;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
}

main {
  position: relative;
  flex-grow: 1;
  margin: 2rem;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


/* Base Layout Styles
   ------------------------- */

/* Layout Containers */

.hero-container {
  display: inline-block;
  position: absolute;
  width: 200px;
  cursor: pointer;
  text-align: center;
  background-color: #1b1d1e;
  background-image: url("../img/pattern.png");
  border-radius: 8px;
}

.hero-container.active {
  height: 320px;
}

.hero-container:nth-of-type(1) {
  top: 0;
  left: 0;
  z-index: 3;
}

.hero-container:nth-of-type(2) {
  top: 0;
  right: 0;
  z-index: 3;
}

.hero-container:nth-of-type(3) {
  top: 33%;
  left: 10%;
  z-index: 2;
}

.hero-container:nth-of-type(4) {
  top: 33%;
  right: 10%;
  z-index: 2;
}

.hero-container:nth-of-type(5) {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.hero-container:nth-of-type(6) {
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Page Elements */

.hero-name {
  padding: 0 0 0.5rem;
}

.hero-container.active .hp-value {
  width: 180px;
  height: 0.75rem;
  margin: 0 10px 0.5rem;
}

[data-team="blue"] .hp-value {
  background-color: #39587c;
}

[data-team="red"] .hp-value {
  position: absolute;
  right: 0;
  background-color: #742a29;
}

#attack-btn,
#attack-btn span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#attack-btn {
  width: 100px;
  height: 100px;
  font-family: 'Overpass', sans-serif;
  background-color: #1b1d1e;
  background-image: url("../img/pattern.png");
  border-radius: 50px;
  border: 8px solid #39587c;
  border-right: 8px solid #742a29;
  border-bottom: 8px solid #742a29;
  outline: none;
  transform: rotate(-45deg);
  transition: background-color 0.2s ease-out;
}

#attack-btn span {
  text-transform: uppercase;
  color: #d8d8d8;
  padding-top: 2rem;
  transform: rotate(45deg);
}

#attack-btn:active {
  background-color: rgba(27, 29, 30, 0.5);
}

#message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(27, 29, 30, 0.7);
  border-radius: 8px;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}

